#LOCAL
MODEL_ID=ollama/llama3.1:8b
BASE_URL=http://localhost:8321
API_KEY=not-needed-for-local-development

## RHOAI
#BASE_URL=
#API_KEY=
#MODEL_ID=
#PORT=

## Deployment Configuration (for OpenShift/Kubernetes)
#CONTAINER_IMAGE=