.env*
!.env.example
.vscode
.idea
.DS_Store
**/.DS_Store
**egg-info*
__pycache__
.pytest_cache
.venv
dist
config.toml
milvus_data/
*.egg-info/
uv.lock
.helm-secrets*.yaml
agents/langflow/simple_tool_calling_agent/local/.ollama-enabled
*.db
CLAUDE.local.md
