# Required
API_KEY=not-needed-for-local-development
BASE_URL=http://localhost:8321/v1
MODEL_ID=ollama/llama3.2:3b

# Deployment
#CONTAINER_IMAGE=

# Local Tracing (optional)
# MLFLOW_TRACKING_URI=
# MLFLOW_EXPERIMENT_NAME=
# MLFLOW_HEALTH_CHECK_TIMEOUT=      # (default is 5s)
# MLFLOW_HTTP_REQUEST_TIMEOUT=      # (default is 120s)
# MLFLOW_HTTP_REQUEST_MAX_RETRIES=

# OpenShift Cluster Tracing (optional)
# MLFLOW_TRACKING_URI=
# MLFLOW_TRACKING_TOKEN=
# MLFLOW_EXPERIMENT_NAME=
# MLFLOW_TRACKING_INSECURE_TLS=
# MLFLOW_WORKSPACE=
# MLFLOW_TRACKING_AUTH=             # Use Kubernetes service account for authentication (if running inside the cluster)
