## LLM
#MODEL_ID=
#BASE_URL=
#API_KEY=

## RAG
#VECTOR_STORE_ID=""
#VECTOR_STORE_PATH=
#DOCS_TO_LOAD=
#EMBEDDING_MODEL=

# Server Configuration
#PORT=

# Deployment Configuration (for OpenShift/Kubernetes)
#CONTAINER_IMAGE=